body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #7F8591;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #b6900a;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #7F8591;
   }

   .language {
      background-color: #272B49;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #888A96;
      color: white;
   }

   header {
      background-color: #272B49;
      background-image: radial-gradient(#644B7F 10%, #272B49 40%);
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #63687E;
      h1 span {
         color: white;
      }
      .polaroid span {
         background: #3F415A;
      }
      .card {
         background:#3F415A;
         color: white;
      }
      p {
         white-space: pre-line;
         vertical-align: bottom;
      }
   }

   #portfolio {
      background: #3F415A;
      .section-title {
         color: white !important;
      }
      .foto div {
         background:#3F415A;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #3F415A;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #7F8591 !important;
         color: white;
      }

      .main-badge {
         background: #7F8591 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #7F8591 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #3F415A;
      color: white;
   }

   .close-icon {
      color: white;
   }
}
